
@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  font-display: swap;
  src: url(c8ba52b05a9ef10f4758.woff2?v=3.19) format("woff2"),
       url(8c206db99195777c6769.woff?v=3.19) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  font-display: swap;
  src: url(293fd13dbca5a3e450ef.woff2?v=3.19) format("woff2"),
       url(9053572c46aeb4b16caa.woff?v=3.19) format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 900;
  font-display: swap;
  src: url(15ca31c0a2a68f76d2d1.woff2?v=3.19) format("woff2"),
       url(c6938660eec019fefd68.woff?v=3.19) format("woff");
}


.page {
    background-color: #000000;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', Arial, sans-serif;
    max-width: 1280px;
}
.header {
    margin-top: 45px;
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

@media screen and (max-width:1024px) {
    .header {
        width: calc(100vw - 2 * 3.75vw);
    }
}

@media screen and (max-width:425px) {
    .header {
        width: 100%;
        margin-top: 28px;
    }
}
.header__logo {
    width: 142px;
    height: 33px;
    margin-bottom: 36px;
}

@media screen and (max-width:425px) {
    .header__logo {
        margin-left: 27px;
        width: 103.74px;
        height: 24.4px;
        margin-bottom: 31.6px;
    }
}
.profile {
    display: grid;
    grid-template-columns: 15% 60% 25%;
    width: 880px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

@media screen and (max-width:1024px) {
    .profile {
        width: 90%;
    }
}

@media screen and (max-width:768px) {
    .profile {
        width: 100%;
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:320px) {
    .profile {
        margin-top: 38.25px;
        width: 282px;
        margin-left: 19px;
        flex-direction: column;
    }
}
.profile__info {
    height: 100%;
    display: grid;
    grid-template-columns: minmax(60%, min-content);
    grid-template-rows: 50% 50%;
    grid-template-areas: "n b""p p";
    margin-top: 16px;
    margin-left: 7px;
}

@media screen and (max-width:768px) {
    .profile__info {
        grid-template-rows: 70% 35%;
        margin-left: 0px;
    }
}

@media screen and (max-width:425px) {
    .profile__info {
        grid-template-rows: 50% 50%;
        grid-template-columns: minmax(90%, min-content);
    }
}

@media screen and (max-width:320px) {
    .profile__info {
        margin: 3px 0px 0px 8px;
    }
}
.profile__avatar {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 0px;
    object-fit: cover;
}

@media screen and (max-width:425px) {
    .profile__avatar {
        width: 120.75px;
        height: 117.5px;
    }
}
.profile__button-edit {
    width: 24px;
    height: 24px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    align-self: center;
    cursor: pointer;
    margin: 6px 0px 0px 10px;
    background-image: url(8667ac4a523e8fc42e59.svg);
    background-position: center;
}

.profile__button-edit:hover {
    opacity: 0.6;
}

@media screen and (max-width:425px) {
    .profile__button-edit {
        margin: 36px 8px 1px 6px;
        width: 20px;
        height: 20px;
        background-image: url(ff0fcb318a3974db48d1.svg);
    }
}
.profile__name {
    grid-area: n;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    height: 100%;
    margin: 6px 0px 0px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width:768px) {
    .profile__name {
        margin-right: 10px;
        max-width: 360px;
    }
}

@media screen and (max-width:425px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        max-width: 250px;
        margin: 23px 0px 0px 19px;
        justify-self: center;
    }
}
.profile__profession {
    grid-area: p;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 3px 0px 0px 12px;
}

@media screen and (max-width:768px) {
    .profile__profession {
        margin-left: 65px;
        max-width: 261px;
        padding-left: 0px;
    }
}

@media screen and (max-width:425px) {
    .profile__profession {
        text-align: center;
        font-size: 14px;
        line-height: 17px;
        width: 200px;
        margin: 16px 28px 0px 0px;
        padding-left: 15px;
        padding-top: 2px;
        justify-self: center;
    }
}
.profile__button-add {
    width: 150px;
    height: 50px;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    align-self: center;
    justify-self: flex-end;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 2px;
    margin-bottom: 1px;
    background-image: url(d86bb2edc2f6eadb96b7.svg);
    background-position: center;
}

.profile__button-add:hover {
    opacity: 0.6;
}

@media screen and (max-width:768px) {
    .profile__button-add {
        width: 90%;
        margin-top: 36px;
    }
}

@media screen and (max-width:425px) {
    .profile__button-add {
        margin-top: 20px;
        background-image: url(54b1426515811a15ebaf.svg);
    }
}

@media screen and (max-width:320px) {
    .profile__button-add {
        width: 282px;
    }
}
.elements {
    max-width: 880px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px 17px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 53px;
}

@media screen and (max-width:12px) {
    .elements {
        margin-top: 51px;
        margin: 43px 0px 0px 200px;
        width: calc(100vw - 2 * 200px);
        grid-template-columns: 1fr 1fr 1fr;
        gap: 45px 30px;
    }
}

@media screen and (max-width:1024px) {
    .elements {
        width: calc(100vw - 2 * 3.75vw);
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width:768px) {
    .elements {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:590px) {
    .elements {
        margin-top: 64px;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:320px) {
    .elements {
        margin: 37px 19px 0px 19px;
        gap: 23px;
    }
}
.element {
    display: grid;
    grid-template-rows: 80% 20%;
    grid-template-areas: "i" "g";
    width: 100%;
    position: relative;
    transition: 1s;
}

@media screen and (max-width:320px) {
    .element {
        width: 282px;
    }
}
.element__basket{
    background-image: url(cbc09a894bdd4c956365.svg);
    position: absolute;
    top: 16px;
    right: 21px;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 18px;
    height: 22px;
    background-position: center;
    border: none;
    cursor: pointer;
}

.element__basket:hover{
    opacity: 0.5;
}



.element__group {
    grid-area: g;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0px 0px 10px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width:320px) {
    .element__group {
        margin-top: 0px;
    }
}
.element__title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29.05px;
    color: #000000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 70%;
    margin: 0px 0px 0px 15px;
}

@media screen and (max-width:425px) {
    .element__title {
        margin: 0px 0px 0px 18px;
    }
}
.element__like {
    width: 22px;
    height: 19px;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    background-color: #fff;
    margin: 10px 9px 8px 0px;
    background-image: url(87ed371465c7a6a1cd01.svg);
}

.element__like:hover {
    opacity: 0.5;
}

@media screen and (max-width:425px) {
    .element__like {
        margin: 6px 16px 8px 8px;
    }
}
.element__like_active_black{
    background-image: url(fe17a515669479b1e649.svg);
}
.element__rectangle {
    grid-area: i;
    width: 100%;
    height: 325px;
    object-fit: cover;
    cursor: pointer;
    object-position: top;
    border-radius: 10px 10px 0px 0px;
}
.footer {
    display: flex;
    justify-content: flex-start;
    width: 880px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:1280px) {
    .footer {
        width: calc(100vw - 2 * 200px);
    }
}

@media screen and (max-width:1024px) {
    .footer {
        width: calc(100vw - 2 * 3.75vw);
    }
}

@media screen and (max-width:425px) {
    .footer {
        margin: 0px 0px 0px 0px;
    }
}
.footer__author {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
    margin: 67px 0px 60px 0px;
}

@media screen and (max-width:320px) {
    .footer__author {
        font-size: 14px;
        line-height: 17px;
        margin: 56px 0px 36px 22px;
    }
}
.popup {
    border-radius: 10px;
    position: fixed;
    align-self: center;
    justify-self: flex-start;
    display: flex;
    visibility: hidden;
    opacity: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    transition: 1s;
}
.popup_opened {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}
.popup__button {
    background-color: transparent;
    background-image: url(ad98de32e342afafa118.svg);
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    justify-self: flex-end;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__button:hover {
    opacity: 0.6;
}

@media screen and (max-width:425px) {
    .popup__button {
        background-image: url(b793e07c3f4c19e26c11.svg);
        background-repeat: no-repeat;
        top: -36px;
        right: -10px;
    }
}
.popup__main {
    width: 430px;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: grid;
    position: relative;
}

@media screen and (max-width:595px) {
    .popup__main {
        width: 282px;
    }
}
.popup__container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 34px;
    margin-left: 28px;
    margin-right: 36px;
    margin-bottom: 39px;
    box-sizing: border-box;
}

@media screen and (max-width: 595px) {
    .popup__container {
        margin-left: 20px;
        margin-right: 55px;
    }
}
.popup__title {
    margin: 0px 0px 15px 6px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

@media screen and (max-width:595px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        width: 230px;
    }
}


.popup__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 16.94px;
    color: #000000;
    margin: 24px 0px 0px 4px;
}

@media screen and (max-width:320px) {
    .popup__input {
        margin-left: 2px;
    }
}
    .popup__save {
        width: 358px;
        height: 50px;
        background-color: #000000;
        border-radius: 2px;
        justify-self: center;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
        align-self: flex-end;
        border: none;
    }
    
    .popup__save:hover {
        opacity: 0.8;
    }
    
    @media screen and (max-width:595px) {
        .popup__save {
            width: 238px;
            font-size: 14px;
            line-height: 17px;
        }
    }
.popup_photo {
    background: rgba(0, 0, 0, 0.9);
    border: 1px solid green;
}
.popup__button {
    background-color: transparent;
    background-image: url(ad98de32e342afafa118.svg);
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    justify-self: flex-end;
    position: absolute;
    top: -40px;
    right: -40px;
}

.popup__button:hover {
    opacity: 0.6;
}

@media screen and (max-width:425px) {
    .popup__button {
        background-image: url(b793e07c3f4c19e26c11.svg);
        background-repeat: no-repeat;
        top: -36px;
        right: -10px;
    }
}
.popup__text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
    position: absolute;
    bottom: -25px;
    margin: 0px;
}
.popup__main-image {
    position: relative;
    align-self: center;
    justify-self: center;
}
.popup__img {
    max-width: 75vw;
    max-height: 75vh;
}
.popup__error {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: white;
    margin-left: 5px;
}
.popup__save_inactively {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    opacity: 0.2;
}
.popup__input_type_error {
    border-bottom-color: red;
}
.popup__error_active {
    color: red;
}
.popup__main-avatars {
    height: 272px;
}
.popup__main-delete {
    height: 181px;
}

