.photopopup__main {
    border: 1px solid green;
    width: 816px;
    height: 540px;
    position: relative;
    align-self: center;
    justify-self: center;
}

@media screen and (max-width:910px) {
    .photopopup__main {
        width: 433px;
        height: 540px;
    }
}

@media screen and (max-width:522px) {
    .photopopup__main {
        width: 240px;
        height: 299px;
    }
}